<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="progreso1" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso1 + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="progreso2" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.width]="progreso2 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador nombre="Leyenda Azul" (cambioValor)="progreso1=$event" [progreso]="progreso1"></app-incrementador>
                <!-- <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" (click)="decrementar()" type="button">
                          <i class="mdi mdi-minus"></i>
                        </button>
                      </span>
                    <input type="text" class="form-control" name="progreso" [(ngModel)]="progreso">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" (click)="incrementar()" type="button">
                        <i class="mdi mdi-plus"></i>
                      </button>
                    </span>
 
                </div> -->
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador nombre="Leyenda Verde" (cambioValor)="progreso2=$event" [progreso]="progreso2"></app-incrementador>
            </div>
        </div>
    </div>
</div>