<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>404</h1>
            <h3 class="text-uppercase">Página no encontrada !</h3>
            <p class="text-muted m-t-30 m-b-30">Al parecer el recurso que busca ya no está en esta página</p>
            <a routerLink='/' class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Volver al inicio</a> </div>
        <footer class="footer text-center">© 2017 Admin Pro.</footer>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->