<div class="card">
    <div class="card-body">
        <div style="display: block">
            <canvas baseChart [data]="graficoConfig.data" [labels]="graficoConfig.labels" [chartType]="graficoConfig.type" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>